<div class="top-content">

	<div class="inner-bg">

		<div class="navigation">
			<div class="row">
				<div class="col-sm-10 text">
					<h1 class="nav-title">
						<strong>Code Sniffer</strong>
					</h1>
				</div>
				<div class="col-sm-2  text nav-div">
					<a class="btn btn-block" ng-click="model.logout()">Logout</a>
				</div>
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-sm-12 text">
					<h1>
						<strong>Hi {{userName}}! Here are your courses!</strong>
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<!-- accordian starts -->
					<div id="accordion">
						<div class="card" ng-repeat="clist in courseList">
							<div class="card-header" id="headingOne-{{clist.id}}">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed acc-btn"
										data-toggle="collapse" data-target="#collapseOne-{{clist.id}}"
										aria-expanded="false" aria-controls="collapseOne-{{clist.id}}"
										id="{{clist.id}}-{{clist.name}}"
										ng-click="model.showAssignments($event)">{{clist.name}}</button>
								</h5>
							</div>

							<div id="collapseOne-{{clist.id}}" class="collapse"
								aria-labelledby="headingOne-{{clist.id}}"
								data-parent="#accordion">
								<div class="card-body">
									<ul>
										<li ng-repeat="c in courseAssignments[clist.name]"><a
											ng-click="model.showSubmissions($event)" id="{{c.id}}"
											ng-class="{'color-red': c.flag === true}">{{c.name}}</a> <input
											id="thresholdip" ng-model="c.threshold" /> <a
											class="glyphicon glyphicon-ok pull-right"
											ng-click="model.updateThreshold(c)"> </a></li>
										<p>
											<a id="{{clist.id}}-{{clist.name}}"
												ng-click="model.showAddAssignments($event)">Add New
												Assignment</a>
										</p>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- accordian ends -->
				</div>
				<div class="col-sm-6">
					<!-- accordian starts -->
					<div class="row">
						<div id="add-course-accordion">
							<div class="card">
								<div class="card-header" id="add-course-headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed acc-btn"
											data-toggle="collapse" data-target="#add-course-collapseOne"
											aria-expanded="false" aria-controls="add-course-collapseOne"
											ng-click="model.getAllUnregisteredCourses()">Add Course</button>
									</h5>
								</div>

								<div id="add-course-collapseOne" class="collapse"
									aria-labelledby="add-course-headingOne"
									data-parent="#add-course-accordion">
									<div class="card-body">
										<table class="add-assgn-table">
											<tr>
												<td class="add-assgn-td">Course Name</td>
												<td class="add-assgn-td"><select
													class="form-control add-course-select"
													ng-model="selectedCourse">
														<option ng-repeat="c in courses">{{c.id}}
															{{c.name}}</option>
												</select></td>
											</tr>

										</table>

										<button class="btn add-course-btn"
											ng-click="model.addCourse()">Add</button>
										<p ng-bind="model.response"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- accordian ends -->

					<div class="row">
						<div id="create-course-accordion">
							<div class="card">
								<div class="card-header" id="create-course-headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed acc-btn"
											data-toggle="collapse"
											data-target="#create-course-collapseOne"
											aria-expanded="false"
											aria-controls="create-course-collapseOne">Create
											Course</button>
									</h5>
								</div>

								<div id="create-course-collapseOne" class="collapse"
									aria-labelledby="create-course-headingOne"
									data-parent="#create-course-accordion">
									<div class="card-body">
										<table class="add-assgn-table">
											<tr>
												<td class="add-assgn-td">Course Name</td>
												<td class="add-assgn-td"><input
													ng-model="model.newcourse.name" type="text"
													placeholder="Course name" /></td>
											</tr>

											<tr>
												<td class="add-assgn-td">Send report to</td>
												<td class="add-assgn-td email-tooltip"><span
													class="tooltiptext">plagiarism report sent to this
														e-mail id</span> <input ng-model="model.newcourse.email"
													type="text" placeholder="e-mail of recipient" /></td>
											</tr>
										</table>
										<button class="btn add-course-btn"
											ng-click="model.createCourse(model.newcourse)">Create</button>
										<p ng-bind="model.response"></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="model.showAssgn"
						style="margin-top: 15px;">
						<p style="color: steelblue; font-size: 30px;">Add assignment
							for {{courseName}}</p>
						<table class="add-assgn-table">
							<tr>
								<td class="add-assgn-td">Assignment Name</td>
								<td class="add-assgn-td"><input ng-model="model.assgn.name"
									type="text" placeholder="Assignment name" /></td>
							</tr>
							<tr>
								<td class="add-assgn-td">Deadline</td>
								<td class="add-assgn-td"><input
									ng-model="model.assgn.deadline" type="date" /></td>
							</tr>
							<tr>
								<td class="add-assgn-td">Choose Language</td>
								<td class="add-assgn-td">
									<select style="width: 215px; border: none;" ng-model="model.assgn.language"
											ng-init="python3">
										<option>python3</option>
										<option>java17</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="add-assgn-td">Threshold</td>
								<td class="add-assgn-td"><input
									ng-model="model.assgn.threshold" type="text"
									placeholder="Threshold" /></td>
							</tr>
							<tr>
								<td class="add-assgn-td">Prev Semesters to compare</td>
								<td class="add-assgn-td">
									<select style="width: 215px; border: none;" ng-model="model.assgn.numOfPrevSemsToCompare"
											ng-init="0">
										<option>0</option>
										<option>1</option>
										<option>2</option>
									</select>
								</td>
							</tr>
						</table>
						<button class="btn add-course-btn" ng-model="assgnID"
							ng-click="model.addAssignment(model.assgn)">Add</button>
						<p ng-bind="model.assgn_response"></p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8  text" ng-bind="model.error"></div>
			</div>
		</div>
	</div>

</div>
